h1 a,h2 a{
    color: #ffee00;
}

body{
    padding-left:30px;
    font-family: 'Oxygen', sans-serif;
}

.page-header{
    background-color: #050505;
    color: #ffee00;
    margin-top: 0;
    padding: 20px 0px 20px 40px;
}

.img{
    margin: 25px;
    float: left;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffee00;
    font-size: 35pt;
    text-decoration: none;
}

.data {
    color: #c2500e;
}